<nav class="navbar navbar-green navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button md-menu type="button" class="navbar-toggle" data-toggle="collapse" [mdMenuTriggerFor]="appMenu" fxShow.xs fxShow.sm fxHide.gt-sm>
                <span class="sr-only" [mdMenuTriggerFor]="appMenu">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Paramétrage système <b>SIRIUS</b></a>
            <md-menu #appMenu="mdMenu" fxShow.xs fxShow.sm fxHide.gt-sm>
                <app-togglemenu></app-togglemenu>
            </md-menu>
        </div>
        <div class="collapse navbar-collapse" fxHide.xs fxHide.sm>
            <ul class="nav navbar-nav navbar-right" fxHide.xs fxHide.sm>
                <li>
                    <a href="index.html">
                        <i class="material-icons">home</i>
                        <p fxHide.xs fxHide.sm>Accueil</p>
                    </a>
                </li>
                <li>
                    <a href="#" id="btn_print">
                        <i class="material-icons">print</i>
                        <p fxHide.xs fxHide.sm>Imprimer</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>
                            <md-chip-list>
                                <md-chip color="primary" selected="true">Bonjour XXXXX XXXXX</md-chip>
                            </md-chip-list>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>