<!--<div id="wrapper">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<div fxLayout="row" fxLayoutAlign="space-around stretch">
    <div fxFlex="0 5 250px">
        <sidebar></sidebar>
        <div></div>
    </div>
    <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="space-around stretch">
        <navbar-cmp></navbar-cmp>
        <router-outlet></router-outlet>
        <div>&nbsp;</div>
        <footer-cmp></footer-cmp>
    </div>
</div>