<!--<div id="wrapper">
    <sidebar></sidebar>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<div fxLayout="row" fxLayoutAlign="space-around stretch">
    <div fxFlex="0 0 235px" fxHide.xs fxHide.sm>
        <sidebar></sidebar>
        <div></div>
    </div>
    <div fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="space-around stretch">
        <navbar-cmp style="z-index:0"></navbar-cmp>
        <router-outlet></router-outlet>
        <footer-cmp></footer-cmp>
    </div>
</div>